<div class="page-header">
    <h1 align="center">Neptun 2.0 Tárgyfelvétel Solutions</h1>
</div>
<div>
<p align="center">
    Üdvözlünk a NEPTUN 2.0 tárgyfelvevő honlapján. Jelentkezzen be kurzusok fel vagy levételére. 
</p>
</div>